@import "tailwindcss";

@theme {
  --background-image-chat: url("/chat-bg.png");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
